


.resume {
    padding: 8%;
    text-align: left;
    display: grid;
    grid-template-columns: 40% 50% 1fr;
}

section {
    margin-top: 2rem;
    grid-column: 2 / 3;
}

.item {
    margin: 1.5rem 0;
}

.item li {
    list-style: circle;
}

.item ul {
    margin-left: 3rem;
}

#subtitle {
    font-weight: 700;
    list-style: none;
}


.certificate {
    width: 100px;
}

.time-span {
    font-size: 0.8rem;
    display: block;
}

