@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/*General Styling*/

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
  margin: 0;
  padding: 0;
}

:root {
  --clr-primary: #F9F8F7; 
  --clr-txt-primary: #54575A;
  --clr-accent: #825C79;
  --clr-blue: #b8cccd;
}

html {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  font-family: "Catamaran", sans-serif;
  text-align: center;
  color: var(--clr-txt-primary);
  background-color: var(--clr-primary);
}

::-webkit-scrollbar {
  display: none;
}

::-moz-focus-inner {
  border: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 600ms ease-in; 
}

.fade-in.appear {
  opacity: 1;
}

/*Typography*/

a {
  text-decoration: none;
  color: var(--clr-txt-primary);
}

li {
  list-style: none;
}

h1 {
  font-family: "DM Serif Display", Georgia, 'Times New Roman', Times, serif;
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
  font-weight: 200;
}

span {
  font-size: 0.8rem;
}

/* Buttons and links*/

.btn {
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 0 0.5rem;
  border-radius: 5px;
  font-family: "Catamaran", sans-serif;
}

.btn-small {
  padding: 0.7rem;
  font-size: 0.8rem;
  border-radius: 20px;
  margin: 1rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid white;
  background-color: transparent;
}

.btn-large {
  margin-top: 4rem;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 30px;
  background-color: var(--clr-accent); 
  border: none;
  font-family: "Catamaran", sans-serif;
}

.btn:hover {
  opacity: 0.5;
}

.btn:focus {
  outline: none;
  box-shadow: 
    0 0 0 5px var(--clr-primary),
    0 0 0 7px var(--clr-blue);
}

.disabled {
  opacity: 0.5;
}

.disabled:hover {
  cursor: auto;
}

footer .btn:focus {
  box-shadow: 
    0 0 0 5px var(--clr-txt-primary),
    0 0 0 7px var(--clr-blue);
}

/*HEADER*/

.nav-list {
  text-align: right;
  position: fixed;
  z-index: 99;
  background: var(--clr-primary);
  width: 100%;
  padding: 0 2.2rem;
  box-shadow: 0px 2px 8px rgb(175, 173, 173);
}

.nav-item {
  display: inline-block;
  padding: 1.5em 1rem;
  text-transform: lowercase;
  font-weight: 700;
}

/*HERO*/

.hero-home {
  min-height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.hero-txt {
  width: 40%;
  text-align: left;
}

.hero-img {
  width: 50%;
  max-width: 400px;
  min-width: 280px;
  padding: 2rem;
}

.hero-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

/*Portfolio*/

.portfolio {
  margin: 5rem 0;
}

.port-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.port-item {
  width: 350px;
  margin: 0.5rem 1.5rem;
  padding: 4rem 0;
  border-radius: 5px;
}

.port-item h3 {
  color: rgb(214, 212, 212);
}

.to-do {
  background: url(./images/fig1.jpg) rgba(0,0,0,0.5);
  background-position: center;
  background-blend-mode: multiply;
}

.playlist {
  background: url(./images/fig3.jpg) rgba(0,0,0,0.5);
  background-position: center;
  background-blend-mode: multiply;
}

.zenpay {
  background: url(./images/fig2.jpg) rgba(0,0,0,0.5);
  background-position: center;
  background-blend-mode: multiply;
}

.white-txt {
  color: #FFF;
}

  
/*Education & Work*/

.education, 
.work {
  padding: 1rem 0 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  width: 50%;
  min-width: 600px;
  margin-top: 1rem;
}

.flex-item {
  text-align: left;
  width: 300px;
  margin-top: 2rem
}

.sub-item,
.mrg-tp {
  margin-top: 1rem;
}

.right {
  text-align: right;
}

.label {
  font-size: 0.8rem;
  cursor: auto;
  margin: 0.1rem 0.1rem;
  padding: 0.2rem 0.6rem;
  background-color: var(--clr-blue);
  border-radius: 10px;
  display: inline-block;
}

/* CTA */
  
.cta {
  padding: 5rem 0 15rem;
  background-color: var(--clr-blue);
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
}
   
/* FOOTER */
  
footer {
  padding: 0.9em;
  background-color: var(--clr-txt-primary);
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer i {
  color: white;
  margin: 1.5rem;
}

/* On screens that are 700px or less, mobile version */

@media screen and (max-width: 700px) {
  .hero-home {
    flex-direction: column-reverse;
  }

  .hero-txt {
    width: 90%;
    text-align: center;
  }
  
  .hero-img {
    width: 40%;
  }
  .flex-container {
    min-width: 90%;
    width: 90%;
    justify-content: center;
  }

  .port-desc {
    transform: translateY(-100%);
    visibility: visible;
  }

  .white {
    display: none;
  }
    /*change  nav bar*/
}



/*--------------
  ABOUT
  --------------

  .about {
    min-height: 100vh;
    width: 60%;
    text-align: left;
    padding: 8rem;
  }

  .about p {
    font-size: 1rem;
  }
  */


  .current {
    opacity: 0.7;
  }

  .page {
    padding: 8rem 3rem;
    width: 50%;
    text-align: left;
  }


  /*CONTACT PAGE*/

  .contact-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  